<div class="fixed z-100 flex px-10 text-[1.2rem] lg:text-[2rem] bg-[#6F9D63] text-white w-full h-[8vh] items-center">
    <p class="flex-1 font-bold text-left font-[Malibu]">A | F</p>
    <ul class="menu lg:flex lg:flex-1 justify-end gap-10 hidden font-[Questrial]">
        <ng-containter [ngTemplateOutlet]="pages" />
    </ul>
    <button class="lg:hidden" (click)="displayOptionsMobile = !displayOptionsMobile">
        <div class="size-[25px] flex flex-col items-center justify-around cursor-pointer">
            <div class="w-[90%] h-[7.5%] bg-white"></div>
            <div class="w-[90%] h-[7.5%] bg-white"></div>
            <div class="w-[90%] h-[7.5%] bg-white"></div>
        </div>
    </button>
</div>
@if (displayOptionsMobile) {
<ul class="menu fixed z-100 top-[8vh] lg:hidden h-[8vh] w-full bg-[#6F9D63] 
           flex flex-row justify-center gap-[30px] items-center text-white font-[800]
           border border-transparent border-y-white font-[Questrial]
           text-center">
    <ng-containter [ngTemplateOutlet]="pages" />
</ul>
}

<ng-template #pages>
    <li routerLink="/home">Home</li>
    <li routerLink="/presenca">Presença</li>
    <li routerLink="/presentes">Presentes</li>
</ng-template>
