<div class="bg-[url('/assets/background.jpg')] h-[92vh]">
    <div class="w-full flex flex-col justify-center items-center min-h-[360px]">
        <h1 class="font-[Garamond] text-[40pt] sm:text-[60pt] text-[#6F9D63] text-center leading-none">Agradecemos a todos por fazer parte<br/> desse momento especial em nossas vidas!</h1>
        <p class="pt-[20px] font-[Garamond] text-[30pt] text-center">Optamos por não fazer lista de presentes, portanto abaixo seguem as nossas informações e o Pix.</p>
    </div>
    <div class="bg-[#6F9D63] p-[20px] sm:p-[0] sm:h-[50vh] flex flex-col sm:flex-row justify-center items-center gap-[30px] sm:gap-[100px] font-[Questrial]">
        <ul class="text-white text-[24pt] order-2 sm:-order-1 text-center sm:text-left">
            <li>Banco: Sicredi</li>
            <li>Agência: 2606</li>
            <li>Conta: 52190-1</li>
            <li>Nome: Ana Letícia Becker Gomes</li>
        </ul>
        <div class="h-[80%]"><img src="assets/pix-qrcode.svg" class="sm:h-[90%]" /></div>
    </div>
</div>
