<div class="min-h-[92vh] size-full flex flex-col items-center pt-10">
    <div class="text-center">
        <h2 class="text-[2.5rem] uppercase font-bold">Casamento Ana e Francisco</h2>
        <img src="assets/arabesco_final.svg" class="scale-100" />
    </div>
    <div class="photos flex flex-col lg:flex-row lg:gap-10 lg:flex-wrap relative">
        <div  class="rotate-10">
            <app-photo src="assets/PRE_CONVITE.JPG"/>
        </div>
        <div class="-rotate-12">
            <app-photo src="assets/PRE_CONVITE.JPG"/>
        </div>
        <div class="-rotate-5">
            <app-photo src="assets/PRE_CONVITE.JPG"/>
        </div>
    </div>
    <div class="flex flex-col items-center text-center">
        <h2 class="text-[2rem] font-[500]">O casamento acontecerá em:</h2>
        <h3 class="text-[2rem]">{{ timeTillWedding() }}</h3>
    </div>
</div>
